@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");

body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
  background-color: #FDECEF;
  color: #0F110C;
}

.full-screen {
  padding: 3rem 0;
}

.small-text {
  color: #0F110C;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}

a:hover {
  color: #612940 !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #0F110C;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b,
strong {
  font-weight: bold;
}

.navbar-nav li {
  text-align: center;
}

.custom-btn {
  color: #9D6381;
  font-weight: bold;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
  border-color: #9D6381;
}

.custom-btn:hover {
  color: #612940;
  border-color: #612940;
}

.custom-btn.custom-btn-bg {
  background: #9D6381;
  color: #ffffff;
}

.custom-btn.custom-btn-bg:hover {
  background: #612940;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #612940;
}

.animated-item {
  font-size: 37px;
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    transform: translateY(5px);
  }

  10% {
    opacity: 1;
    transform: translateY(0px);
  }

  25% {
    opacity: 1;
    transform: translateY(0px);
  }

  30% {
    opacity: 0;
    transform: translateY(5px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}

.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}

.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}

.navbar[class*="headroom--not-top"] {
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}

.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #612940;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}

.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  right: 6px;
}

.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}

.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0F110C;
  color: #9D6381 !important;
}

.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #612940;
}

.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0F110C;
  border-bottom: 1px solid #1f1f1f;
}

.dark-mode .small-text {
  background: #FDECEF;
  color: #ffffff;
}

.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}

.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

.about-des {
  margin-bottom: 6rem;
}

.about-des img {
  height: 325px;
  display: flex;
}

.skills {
  margin-bottom: 50px;
}

.skills h3 {
  color: #9D6381;
  margin-top: 15px;
}

.skills .col-sm {
  border: 1px transparent solid;
  border-radius: 16px;
  padding: 18px;
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.skills .col-sm:hover {
  border: 1px solid #612940;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.skills .col-sm img {
  height: 75px;
  width: 75px;
  object-fit: scale-down;
}

.skills .col-sm i {
  font-size: 30px;
}

.skills .col-sm p {
  margin: 0;
}

.skills .dark-mode-d {
  color: #f0f0f0 !important;
}

.workexp .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 75px;
}

.workexp ::-webkit-scrollbar-thumb {
  background: #9D6381;
  border-radius: 10px;
}

.workexp ::-webkit-scrollbar {
  width: 10px;
}

.workexp ::-webkit-scrollbar-thumb:hover {
  background: #612940;
}

.workexp .expcard {
  background-color: white;
  text-align: justify;
  background: linear-gradient(315deg, transparent 42px, #fff 0);
  padding: 25px;
  margin: 15px;
  min-height: 300px;
  min-width: 400px
}

.workexp .expcard h6 i {
  font-weight: 400;
}

.workexp .expcard ul li::before {
  content: "\2022";
  color: #612940;
  font-weight: bolder;
  display: inline-block;
  width: 1em;
}

.workexp .expcard h6,
.workexp .expcard h5,
.workexp .expcard ul {
  color: #0F110C !important;
}

.extra-cirr h1 {
  margin-bottom: 60px;
}

.timeline {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  padding: 0;
  margin: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  right: -6px;
  background: #612940;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #9D6381;
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  left: -4px;
  background: #612940;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #9D6381;
}

.timeline ul li h5 {
  padding: 0;
  margin: 0;
  color: #9D6381;
  font-weight: 600;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -162px;
  margin: 0;
  padding: 8px 16px;
  background: #612940;
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #9D6381;
  text-align: left;
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -162px;
  margin: 0;
  padding: 8px 16px;
  background: #612940;
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #9D6381;
}

.achievements .col {
  border: 2px #612940 solid;
  border-radius: 22px;
  margin: 15px;
  padding: 10px;
  text-align: center;
}

.achievements .col i {
  font-size: 50px;
  margin-bottom: 10px;
}

.achievements .col p {
  margin: 0%;
}

.achievements .col .italics {
  font-style: italic;
  font-weight: 400;
}

.card {
  border-radius: 20px;
  box-shadow: 0 14px 28px #9D6381;
  background-color: #FDECEF;
  border: none;
  padding: 25px;
}

.carousel-item {
  z-index: 2;
}

.carousel-item>.row {
  margin: 0;
}

.carousel p {
  margin-bottom: 2rem;
}

/*-- vertical bootstrap slider --*/
.carousel .carousel-item-next.carousel-item-left,
.carousel .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.carousel .carousel-item-next,
.carousel .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.carousel .carousel-item-prev,
.carousel .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/*-- vertical carousel indicators --*/
.carousel-indicators {
  margin: auto;
}

.carousel-indicators li {
  display: block;
  margin-bottom: 0px;
  background: #BDBDBD;
  border-radius: 50px;
  width: 22px;
  height: 1px;
  transition: all ease 0.6s;
}

.carousel-indicators li.active {
  background: #000;
}

.dark-mode-d {
  color: #0F110C !important;
}

.projects {
  margin-top: 65px;
}

.find-me i {
  color: #612940 !important;
  font-size: 45px;
}

.find-me p {
  font-weight: 600;
}

.find-me {
  margin-bottom: 75px;
}

@media(max-width:1000px) {
  .timeline {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .full-screen {
    padding: 0%;
  }
  .bgTitle {
    height: 100%;
    width: 50%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
  }

  .custom-btn {
    margin: 0px 6px;
  }

  .about-des {
    margin-bottom: 2rem;
  }

  .about-des .row {
    display: flex;
    flex-direction: column;
  }

  .about-des .image {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }

  .about-des img {
    width: 100%;
    height: auto;
  }

  .about-des .text {
    margin-top: 20px;
    text-align: center;
  }
}

@media(max-width:767px) {
  .extra-cirr h1 {
    margin-bottom: 60px;
  }

  .timeline {
    width: 100%;
    padding-bottom: 0;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  .timeline:before {
    left: 20px;
    height: 100%;
  }

  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }

  .achievements .row {
    flex-direction: column;
  }

  .achievements .col {
    max-width: calc(100vw - 30px);
  }
}

@media screen and (max-width: 576px) {
  .skills .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills .col-sm {
    height: fit-content;
    width: fit-content;
  }

  .bgTitle {
    height: 30%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    top: 0;
  }

  .content {
    padding: 15px;
  }
}

@media screen and (max-width: 431px) {
  .workexp .expcard {
    min-width: calc(100% - 30px);
  }
}
